h1 {
    color: blue;
    font-family: verdana;
    font-size: 500%;
}
h2 {
    color: green;
    font-family: courier;
    font-size: 200%;
}
P {
    color: red;
    font-family: arial;
    font-size: 100%;
}